/* UTILITIES */

.alertTable {
  margin: 10rem auto;
  max-width: 500px;
}

ul {
  margin-bottom: 0;
}

/* colors */
.bg-gray {
  background-color: #ddd;
}

/* transitions */
.shadow {
  box-shadow: 0px 0px 5px 0px #000;
}

.grow { 
  transition: all .1s ease-in-out; 
}
.grow:hover { 
  transform: scale(1.03); 
}
